.container-style {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
}

.container-footer {
    height: 100px;
}

.title {
    color: white;
    font: bold;
    padding: 0 5px 0 5px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.progress {
    margin: 1px 0 5px 0;
    height: 8px;
}

label {
    top: 15px;
    position: relative;
}

form {
    width: 95%;
}

button {
    width: 50%;
}

mat-form-field,
mat-hint {
    width: 100%;
}

mat-progress-bar {
    height: 10%;
}

@media screen and (min-width: 600px) {
    form{
        width: 85%;
    }

    button {
        width: 40%;
    }
    
}


@media screen and (min-width: 960px) {
    form{
        width: 60%;
    }

    button {
        width: 30%;
    }
}