<div
    fxLayout="column"
    fxLayoutAlign="center"
    fxFlex="100"
>
    <mat-toolbar color="primary">
        <h2
            class="title"
            fxFlex="50"
        >
            {{ViewOptions.changePasswordTitle}}
        </h2>
        <span class="fill-remaining-space"></span>
        <div
            matTooltip="{{ViewOptions.changePasswordForm.helpText}}"
            matTooltipPosition="left"
        >
            <img
                src="assets/images/help.png"
                alt="Help"
            >
        </div>
    </mat-toolbar>
    <div
        fxLayout="column"
        fxLayoutAlign="center center"
    >
        <form #Form="ngForm" [formGroup]="FormGroup" >
            <div
                fxLayout="column"
                fxLayoutAlign="center"
                fxLayoutGap="3%"
                class="form-container"
            >
                <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                >
                    <div fxLayout="column"
                         fxFlex="80">
                        <mat-label for="Username"
					>
                            {{ViewOptions.changePasswordForm.usernameLabel}}
                        </mat-label>
                        <mat-form-field hideRequiredMarker
                                        floatLabel="never">
                            <input matInput
                                   [(ngModel)]="Username"
                                   formControlName="username"
                                   name="Username"
                                   type="{{ViewOptions.defaultDomain ? 'text': 'email'}}"
                                   placeholder="{{ViewOptions.changePasswordForm.usernamePlaceholder}}"
                                   required>
                            <mat-hint>
                                <strong>
                                    {{ViewOptions.defaultDomain ? ViewOptions.changePasswordForm.usernameDefaultDomainHelperBlock : ViewOptions.changePasswordForm.usernameHelpblock }}
                                </strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('username').hasError('pattern')">
                                {{ViewOptions.defaultDomain ? ViewOptions.errorsPasswordForm.usernamePattern :  ViewOptions.errorsPasswordForm.usernameEmailPattern}}
                            </mat-error>
                            <mat-error *ngIf="FormGroup.get('username').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                >
                    <div
                        fxLayout="column"
                        fxFlex="80"
                    >
                        <mat-label for="CurrentPassword">
                            {{ViewOptions.changePasswordForm.currentPasswordLabel}}
                        </mat-label>
                        <mat-form-field floatPlaceholder="never">
                            <input
                                matInput
                                [(ngModel)]="FormData.CurrentPassword"
                                formControlName="currentPassword"
                                name="CurrentPassword"
                                type="password"
                                placeholder="{{ViewOptions.changePasswordForm.currentPasswordPlaceholder}}"
                            >
                            <mat-hint>
                                <strong>
                                    {{ViewOptions.changePasswordForm.currentPasswordHelpblock}}
                                </strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('currentPassword').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                >
                    <div
                        fxLayout="column"
                        fxFlex="80"
                    >
                        <mat-label for="NewPassword">
                            {{ViewOptions.changePasswordForm.newPasswordLabel}}
                        </mat-label>
                        <mat-form-field floatPlaceholder="never">
                            <input
                                matInput
                                [(ngModel)]="FormData.NewPassword"
                                id="NewPassword"
                                formControlName="newPassword"
                                name="NewPassword"
                                #NewPassword
                                type="password"
                                placeholder="{{ViewOptions.changePasswordForm.newPasswordPlaceholder}}"
                            >
                            <mat-hint>
                                <mat-progress-bar
                                    mode="determinate"
                                    [color]="color"
                                    [value]="value"
                                    *ngIf="ViewOptions.showPasswordMeter"
                                    class="progress"
                                ></mat-progress-bar>
                                <strong innerHTML="{{ViewOptions.changePasswordForm.newPasswordHelpblock}}"></strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('newPassword').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    class="margin-top"
                >
                    <div
                        fxLayout="column"
                        fxFlex="80"
                    >
                        <mat-label for="NewPasswordVerify">
                            {{ViewOptions.changePasswordForm.newPasswordVerifyLabel}}
                        </mat-label>
                        <mat-form-field floatPlaceholder="never">
                            <input
                                matInput
                                [(ngModel)]="FormData.NewPasswordVerify"
                                id="PasswordVerify"
                                formControlName="newPasswordVerify"
                                name="NewPasswordVerify"
                                type="password"
                                placeholder="{{ViewOptions.changePasswordForm.newPasswordVerifyPlaceholder}}"
                            >
                            <mat-hint>
                                <strong>
                                    {{ViewOptions.changePasswordForm.newPasswordVerifyHelpblock}}
                                </strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('newPasswordVerify').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                            <mat-error *ngIf="FormGroup.get('newPasswordVerify').hasError('notEquivalent')">
                                {{ViewOptions.errorsPasswordForm.passwordMatch}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    *ngIf="ViewOptions.recaptcha.isEnabled"
                >
                    <re-captcha
                        (resolved)="SetRecaptchaResponse($event)"
                        siteKey="{{ViewOptions.recaptcha.siteKey}}"
                        formControlName="reCaptcha"
                    ></re-captcha>
                </div>

                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    class="container-footer"
                >
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="Submit()"
                        [disabled]="FormGroup.invalid"
                        *ngIf="!Loading"
                    >
                        <span>
                            {{ViewOptions.changePasswordForm.changePasswordButtonLabel}}
                        </span>
                    </button>
                    <mat-progress-bar
                        mode="indeterminate"
                        *ngIf="Loading"
                    ></mat-progress-bar>
                </div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>
