<div fxLayout="column" fxLayoutAlign="center" fxFlex="100">
    <mat-toolbar color="primary">
        <h2 class="title" fxFlex="50">
            {{ViewOptions.changePasswordTitle}}
        </h2>
        <span class="fill-remaining-space"></span>
        <div matTooltip="{{ViewOptions.changePasswordForm.helpText}}" matTooltipPosition="left">
            <img src="assets/images/help.png" alt="Help">
        </div>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center">
        <form #Form="ngForm" [formGroup]="FormGroup">
            <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="3%" class="form-container">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80">
                        <mat-label for="Username">
                            {{ViewOptions.changePasswordForm.usernameLabel}}
                        </mat-label>
                        <mat-form-field hideRequiredMarker floatLabel="never">
                            <input matInput [(ngModel)]="FormData.Username" formControlName="username" name="Username" type="{{ViewOptions.useEmail ? 'email': 'text'}}"
                                   required tabindex="1">
                            <mat-hint>
                                <strong>
                                    {{ViewOptions.useEmail ? ViewOptions.changePasswordForm.usernameHelpblock : ViewOptions.changePasswordForm.usernameDefaultDomainHelperBlock}}
                                </strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('username').hasError('pattern')">
                                {{ViewOptions.useEmail ? ViewOptions.errorsPasswordForm.usernameEmailPattern : ViewOptions.errorsPasswordForm.usernamePattern}}
                            </mat-error>
                            <mat-error *ngIf="FormGroup.get('username').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80">
                        <mat-label for="CurrentPassword">
                            {{ViewOptions.changePasswordForm.currentPasswordLabel}}
                        </mat-label>
                        <mat-form-field floatLabel="never">
                            <input matInput [(ngModel)]="FormData.CurrentPassword" formControlName="currentPassword" name="CurrentPassword" type="password"
                                   tabindex="2">
                            <mat-hint>
                                <strong>
                                    {{ViewOptions.changePasswordForm.currentPasswordHelpblock}}
                                </strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('currentPassword').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80">
                        <mat-label for="NewPassword">
                            {{ViewOptions.changePasswordForm.newPasswordLabel}}
                        </mat-label>
                        <mat-form-field floatLabel="never">
                            <input matInput [(ngModel)]="FormData.NewPassword" id="NewPassword" formControlName="newPassword" name="NewPassword" #NewPassword
                                   type="password" tabindex="3">
                            <mat-hint>
                                <mat-progress-bar mode="determinate" [color]="color" [value]="value"
                                                  *ngIf="ViewOptions.showPasswordMeter"
                                                  class="progress">
                                </mat-progress-bar>
                                <strong innerHTML="{{ViewOptions.changePasswordForm.newPasswordHelpblock}}"></strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('newPassword').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" class="margin-top">
                    <div fxLayout="column" fxFlex="80">
                        <mat-label for="NewPasswordVerify">
                            {{ViewOptions.changePasswordForm.newPasswordVerifyLabel}}
                        </mat-label>
                        <mat-form-field floatLabel="never">
                            <input matInput [(ngModel)]="FormData.NewPasswordVerify" id="PasswordVerify" formControlName="newPasswordVerify" name="NewPasswordVerify"
                                   type="password" tabindex="4">
                            <mat-hint>
                                <strong>
                                    {{ViewOptions.changePasswordForm.newPasswordVerifyHelpblock}}
                                </strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('newPasswordVerify').hasError('required')">
                                {{ViewOptions.errorsPasswordForm.fieldRequired}}
                            </mat-error>
                            <mat-error *ngIf="FormGroup.get('newPasswordVerify').hasError('notEquivalent')">
                                {{ViewOptions.errorsPasswordForm.passwordMatch}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" *ngIf="ViewOptions.recaptcha.siteKey != ''">
                    <re-captcha (resolved)="SetRecaptchaResponse($event)" siteKey="{{ViewOptions.recaptcha.siteKey}}" formControlName="reCaptcha"
                                tabindex="5"></re-captcha>
                </div>

                <div fxLayout="column" fxLayoutAlign="center center" class="container-footer">
                    <button mat-raised-button color="primary" (click)="Submit()" [disabled]="FormGroup.invalid" *ngIf="!Loading" tabindex="6">
                        <span>
                            {{ViewOptions.changePasswordForm.changePasswordButtonLabel}}
                        </span>
                    </button>
                    <mat-progress-bar mode="indeterminate" *ngIf="Loading"></mat-progress-bar>
                </div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>