<div fxLayout="column" fxLayoutAlign="center" fxFlex="100">
    <mat-toolbar color="primary">
        <h2 class="title" fxFlex="50">{{ViewOptions.changePasswordTitle}}</h2>
        <span class="fill-remaining-space"></span>
        <div matTooltip="{{ViewOptions.changePasswordForm.helpText}}" matTooltipPosition="left">
            <mat-icon>help</mat-icon>
        </div>
    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center">
        <form #Form="ngForm">
            <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="3%" class="form-container">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80" [formGroup]="FormGroup">
                        <label for="Username">{{ViewOptions.changePasswordForm.usernameLabel}}</label>
                        <mat-form-field floatPlaceholder="never">
                            <input matInput [(ngModel)]="FormData.Username" formControlName="username" name="Username" type="email" required placeholder="{{ViewOptions.changePasswordForm.usernamePlaceholder}}">
                            <mat-hint><strong>{{ViewOptions.changePasswordForm.usernameHelpblock}}</strong></mat-hint>
                            <mat-error *ngIf="FormGroup.get('username').hasError('pattern')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="FormGroup.get('username').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80" [formGroup]="FormGroup">
                        <label for="CurrentPassword">{{ViewOptions.changePasswordForm.currentPasswordLabel}}</label>
                        <mat-form-field floatPlaceholder="never">
                            <input matInput [(ngModel)]="FormData.CurrentPassword" formControlName="currentPassword" name="CurrentPassword" type="password"
                                placeholder="{{ViewOptions.changePasswordForm.currentPasswordPlaceholder}}">
                            <mat-hint><strong>{{ViewOptions.changePasswordForm.currentPasswordHelpblock}}</strong></mat-hint>
                            <mat-error *ngIf="FormGroup.get('currentPassword').hasError('required')">
                                Current Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80" [formGroup]="FormGroup">
                        <label for="NewPassword">{{ViewOptions.changePasswordForm.newPasswordLabel}}</label>
                        <mat-form-field floatPlaceholder="never">
                            <input matInput [(ngModel)]="FormData.NewPassword" id="NewPassword" formControlName="newPassword" name="NewPassword" #NewPassword type="password"
                                placeholder="{{ViewOptions.changePasswordForm.newPasswordPlaceholder}}">
                            <mat-hint>
                                <mat-progress-bar mode="determinate" [color]="color" [value]="value" *ngIf="ViewOptions.showPasswordMeter" class="progress"></mat-progress-bar>
                                <strong innerHTML="{{ViewOptions.changePasswordForm.newPasswordHelpblock}}"></strong>
                            </mat-hint>
                            <mat-error *ngIf="FormGroup.get('newPassword').hasError('required')">
                                New Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayout="column" fxFlex="80" [formGroup]="FormGroup">
                        <label for="NewPasswordVerify">{{ViewOptions.changePasswordForm.newPasswordVerifyLabel}}</label>
                        <mat-form-field floatPlaceholder="never">
                            <input matInput [(ngModel)]="FormData.NewPasswordVerify" id="PasswordVerify" formControlName="newPasswordVerify" name="NewPasswordVerify" #NewPasswordVerify
                                type="password" placeholder="{{ViewOptions.changePasswordForm.newPasswordVerifyPlaceholder}}">
                            <mat-hint><strong>{{ViewOptions.changePasswordForm.newPasswordVerifyHelpblock}}</strong></mat-hint>
                            <mat-error *ngIf="FormGroup.get('newPasswordVerify').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="FormGroup.get('newPasswordVerify').hasError('MatchPassword')">
                                Passwords do not <strong>match</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" [formGroup]="FormGroup" *ngIf="ViewOptions.recaptcha.isEnabled">
                    <recaptcha (resolved)="SetRecaptchaResponse($event)" siteKey="{{ViewOptions.recaptcha.siteKey}}" formControlName="reCaptcha"></recaptcha>
                </div>

                <div fxLayout="column" fxLayoutAlign="center center" class="container-footer">
                    <button mat-raised-button color="primary" (click)="Submit()" [disabled]="FormGroup.invalid" *ngIf="!Loading">
                        <span>{{ViewOptions.changePasswordForm.changePasswordButtonLabel}}</span>
                    </button>
                    <mat-progress-bar mode="indeterminate" *ngIf="Loading"></mat-progress-bar>
                </div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>