body {
    background-color: #fcfcfc;
}

div.panel.panel-primary {
    box-shadow: 0px 0px 20px #828282;
}

span.panel-title {
    font-weight: normal;
    font-size: 18px;
}

i.panel-title {
    font-size: 18px;
}

footer {
    text-align: right;
    font-size: 11px;
}

    footer div.footer-logo {
        text-align: left;
    }

#changePasswordForm {
    padding-top: 40px;
}

div.form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 9999;
    color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    display: none;
}

div.form-overlay-target {
    position: relative;
}

div.form-overlay-spinner {
    height: 100%;
    width: 100%;
    padding-top: 25%;
    vertical-align: central;
    text-align: center;
    color: #4f4f4f;
}

.center-align {
    text-align: center;
}