footer div{
    margin: 2% 0 2% 0;
    width: 95%;
}

.footer-logo{
    opacity: 50;
}

.footer-logo img {
    width: 100px;
}

.footer-text {
    text-align: right;
    font-size: 10px;
}

@media screen and (min-width: 600px) {
    footer div{
        width: 85%;
    }

    .footer-logo img {
        width: 125px;
    }
    

    .footer-text {
        text-align: right;
        font-size: 12px;
    }
}


@media screen and (min-width: 960px) {
    footer div{
        width: 65%;
    }

    .footer-logo img {
        width: 150px;
    }
    
    .footer-text {
        font-size: 12px;
    }

}