<div class="row" ng-controller="ChangePasswordCtrl as ctrl">
    <div class="col-md-8 col-md-offset-2">
        <form id="changePasswordForm" class="form-horizontal" novalidate>
            <fieldset>
                <div class="panel panel-primary form-overlay-target">
                    <div class="form-overlay" style="display: none;">
                        <div style="height: 100%; width: 100%; padding-top: 25%; vertical-align:central; text-align:center; color: #4f4f4f;">
                            <i class="fa fa-circle-o-notch fa-2x fa-spin" onclick="$('div.form-overlay').toggle(10);"></i>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <i class="fa fa-lock panel-title"></i>&nbsp;&nbsp;<span class="panel-title">{{ViewOptions.ChangePasswordTitle}}</span>
                    </div>
                    <div class="panel-body">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="Username">{{ViewOptions.ChangePasswordForm.UsernameLabel}}</label>
                            <div class="col-md-5">
                                <input id="username" name="Username" ng-model="Form.Username" type="text" placeholder="{{ViewOptions.ChangePasswordForm.UsernamePlaceholder}}" class="form-control input-md" required="">
                                <span class="help-block">{{ViewOptions.ChangePasswordForm.UsernameHelpblock}}</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="CurrentPassword">Current Password</label>
                            <div class="col-md-5">
                                <input id="currentPassword" name="CurrentPassword" ng-model="Form.CurrentPassword" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter your current password</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="NewPassword">New Password</label>
                            <div class="col-md-5">
                                <input id="newPassword" name="NewPassword" type="password" ng-model="Form.NewPassword" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter a strong password. You can use <a href="http://passwordsgenerator.net/" target="_blank">this tool</a> to help you create one.</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="NewPasswordVerify">Re-enter New Password</label>
                            <div class="col-md-5">
                                <input id="newPasswordVerify" name="NewPasswordVerify" ng-model="Form.NewPasswordVerify" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter your new password again</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!-- Button -->
                        <div style="text-align:center;">
                            <button id="changePassword" name="changePassword" class="btn btn-lg btn-success" ng-click="Submit()">
                                <i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Change Password
                            </button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>

