<div class="row" ng-controller="ChangePasswordCtrl as ctrl">
    <div class="col-md-8 col-md-offset-2">
        <form id="changePasswordForm" class="form-horizontal">
            <fieldset>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-lock panel-title"></i>&nbsp;&nbsp;<span class="panel-title">{{ViewOptions.ChangePasswordTitle}}</span>
                    </div>
                    <div class="panel-body">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">{{ViewOptions.ChangePasswordForm.UsernameLabel}}</label>
                            <div class="col-md-5">
                                <input id="username" name="username" type="text" placeholder="{{ViewOptions.ChangePasswordForm.UsernamePlaceholder}}" class="form-control input-md" required="">
                                <span class="help-block">{{ViewOptions.ChangePasswordForm.UsernameHelpblock}}</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="currentPassword">Current Password</label>
                            <div class="col-md-5">
                                <input id="currentPassword" name="currentPassword" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter your current password</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="newPassword">New Password</label>
                            <div class="col-md-5">
                                <input id="newPassword" name="newPassword" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter a strong password. You can use <a href="http://passwordsgenerator.net/" target="_blank">this tool</a> to help you create one.</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="newPasswordVerify">Re-enter New Password</label>
                            <div class="col-md-5">
                                <input id="newPasswordVerify" name="newPasswordVerify" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter your new password again</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!-- Button -->
                        <div style="text-align:center;">
                            <button id="changePassword" name="changePassword" class="btn btn-lg btn-success">
                                <i class="fa fa-check-square-o"></i>&nbsp;&nbsp;Change Password
                            </button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

