<div class="row" ng-controller="ChangePasswordCtrl as ctrl">
    <div class="col-md-8 col-md-offset-2">
        <form name="Form" id="changePasswordForm" class="form-horizontal" ng-submit="Submit()" novalidate>
            <fieldset>
                <div class="panel panel-primary form-overlay-target">
                    <div class="form-overlay">
                        <div class="form-overlay-spinner">
                            <i class="fa fa-circle-o-notch fa-2x fa-spin" onclick="$('div.form-overlay').toggle(10);"></i>
                        </div>
                    </div>

                    <div class="panel-heading">
                        <i class="fa fa-lock panel-title"></i>&nbsp;&nbsp;<span class="panel-title">{{ViewOptions.changePasswordTitle}}</span>
                        <span class="pull-right" uib-popover="{{ViewOptions.changePasswordForm.helpText}}" popover-placement="auto bottom" popover-trigger="mouseenter" popover-title="{{ViewOptions.changePasswordForm.helpTitle}}" popover-append-to-body="true">
                            <i class="fa fa-question-circle fa-inverse"></i>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">

                        <div class="alert alert-success" ng-show="ShowSuccessAlert">
                            <i class="fa fa-check-circle alert-title"></i>&nbsp;<span class="alert-title" ng-bind-html="ViewOptions.alerts.successAlertTitle | unsafe"></span>
                            <p ng-bind-html="ViewOptions.alerts.successAlertBody | unsafe"></p>
                        </div>

                        <div class="alert alert-danger" ng-show="ShowErrorAlert">
                            <i class="fa fa-times-circle alert-title"></i>&nbsp;<span class="alert-title" ng-bind-html="ViewOptions.alerts.errorAlertTitle | unsafe"></span>
                            <p ng-bind-html="ErrorAlertMessage | unsafe"></p>
                        </div>
                        <!-- Fields -->
                        <div ng-hide="ShowSuccessAlert">
                            <!-- Text input-->
                            <div class="form-group" ng-class="{ 'has-error': Form.Username.Validation.HasError && Form.Username.$untouched }">
                                <label class="col-md-4 control-label" for="Username">{{ViewOptions.changePasswordForm.usernameLabel}}</label>
                                <div class="col-md-6">
                                    <input id="username" name="Username" ng-model="FormData.Username" type="text" placeholder="{{ViewOptions.changePasswordForm.usernamePlaceholder}}" class="form-control input-md" required="">
                                    <div class="row help-block">
                                        <div class="col-md-12">
                                            <span ng-bind-html="ViewOptions.changePasswordForm.usernameHelpblock | unsafe"></span>
                                            <span ng-show="Form.Username.Validation.HasError && Form.Username.$untouched"> - {{Form.Username.Validation.ErrorMessage}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group" ng-class="{ 'has-error': Form.CurrentPassword.Validation.HasError && Form.CurrentPassword.$untouched }">
                                <label class="col-md-4 control-label" for="CurrentPassword">{{ViewOptions.changePasswordForm.currentPasswordLabel}}</label>
                                <div class="col-md-6">
                                    <input id="currentPassword" name="CurrentPassword" ng-model="FormData.CurrentPassword" type="password" placeholder="{{ViewOptions.changePasswordForm.currentPasswordPlaceholder}}" class="form-control input-md" required="">
                                    <div class="row help-block">
                                        <div class="col-md-12">
                                            <span ng-bind-html="ViewOptions.changePasswordForm.currentPasswordHelpblock | unsafe"></span>
                                            <span ng-show="Form.CurrentPassword.Validation.HasError && Form.CurrentPassword.$untouched"> - {{Form.CurrentPassword.Validation.ErrorMessage}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group" ng-class="{ 'has-error': Form.NewPassword.Validation.HasError && Form.NewPassword.$untouched }">
                                <label class="col-md-4 control-label" for="NewPassword">{{ViewOptions.changePasswordForm.newPasswordLabel}}</label>
                                <div class="col-md-6">
                                    <input id="NewPassword" name="NewPassword" ng-model="FormData.NewPassword" type="password" placeholder="{{ViewOptions.changePasswordForm.newPasswordPlaceholder}}" class="form-control input-md" required="">
                                    <div class="row help-block">
                                        <div class="col-md-12">
                                            <div ng-show="ViewOptions.ShowPasswordMeter" ng-password-strength="FormData.NewPassword" css-mode="bootstrap" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
                                            <div>
                                                <span ng-bind-html="ViewOptions.changePasswordForm.newPasswordHelpblock | unsafe"></span>
                                                <span ng-show="Form.NewPassword.Validation.HasError && Form.NewPassword.$untouched"> - {{Form.NewPassword.Validation.ErrorMessage}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Password input-->
                            <div class="form-group" ng-class="{ 'has-error': Form.NewPasswordVerify.Validation.HasError && Form.NewPasswordVerify.$untouched }">
                                <label class="col-md-4 control-label" for="NewPasswordVerify">{{ViewOptions.changePasswordForm.newPasswordVerifyLabel}}</label>
                                <div class="col-md-6">
                                    <input id="NewPasswordVerify" name="NewPasswordVerify" ng-model="FormData.NewPasswordVerify" type="password" placeholder="{{ViewOptions.changePasswordForm.newPasswordVerifyPlaceholder}}" class="form-control input-md" required="">
                                    <div class="row help-block">
                                        <div class="col-md-12">
                                            <span ng-bind-html="ViewOptions.changePasswordForm.newPasswordVerifyHelpblock | unsafe"></span>
                                            <span ng-show="Form.NewPasswordVerify.Validation.HasError && Form.NewPasswordVerify.$untouched"> - {{Form.NewPasswordVerify.Validation.ErrorMessage}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group center-align" ng-show="ViewOptions.recaptcha.isEnabled">
                                <div class="col-md-6 col-md-offset-4">
                                    <div vc-recaptcha key="ViewOptions.recaptcha.siteKey" on-success="SetRecaptchaResponse(response)" on-expire="ClearRecaptchaResponse()"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" ng-hide="ShowSuccessAlert">
                        <!-- Button -->
                        <div class="center-align">
                            <button id="changePassword" name="changePassword" class="btn btn-lg btn-success" type="submit" ng-disabled="ViewOptions.recaptcha.isEnabled && FormData.recaptcha.length <= 0">
                                <i class="fa fa-check-square-o"></i>&nbsp;&nbsp;{{ViewOptions.changePasswordForm.changePasswordButtonLabel}}
                            </button>
                        </div>

                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
