<footer fxLayout="row">
    <div fxLayout="column" fxLayoutAlign="start" class="footer-logo" fxFlex="50">
        <a target="_blank" tabindex="-1" href="https://github.com/unosquare/passcore">
                <img src="images/passcore-logo.png" alt="PassCore logo" />
            </a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="footer-text" fxFlex="50">
        <div>
            Powered by <a target="_blank" tabindex="-1" href="https://github.com/unosquare/passcore">PassCore</a> v2.0.2.beta.2
            -
            <a target="_blank" tabindex="-1" href="https://opensource.org/">OSS</a> and
            <a target="_blank" tabindex="-1" href="https://opensource.org/licenses/MIT">MIT</a> Licensed <br /> Copyright
            © 2016
            <a target="_blank" tabindex="-1" href="http://unosquare.com">Unosquare</a>
        </div>
    </div>
</footer>