<footer fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="space-evenly center ">
        <div fxLayout="column" class="footer-logo" >
            <a target="_blank" tabindex="-1" href="https://github.com/unosquare/passcore">
                <img src="images/passcore-logo.png" alt="PassCore logo" />
            </a>
        </div>
        <div fxLayout="column" class="footer-text" >
            <div>
                Powered by <a target="_blank" tabindex="-1" href="https://github.com/unosquare/passcore">PassCore</a> v3.0.0
                -
                <a target="_blank" tabindex="-1" href="https://opensource.org/">OSS</a> and
                <a target="_blank" tabindex="-1" href="https://opensource.org/licenses/MIT">MIT</a> Licensed <br /> Copyright
                © 2017
                <a target="_blank" tabindex="-1" href="http://unosquare.com">Unosquare</a>
            </div>
        </div>
    </div>
</footer>