<footer fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center start" class="footer-logo" fxFlex="30">
            <a target="_blank" tabindex="-1" href="https://github.com/unosquare/passcore">
                <img src="images/passcore-logo.png" alt="PassCore logo" />
            </a>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end" class="footer-text" fxFlex="70">
            <div>
                Powered by <a target="_blank" tabindex="-1" href="https://github.com/unosquare/passcore">PassCore</a> v3.0.0
                -
                <a target="_blank" tabindex="-1" href="https://opensource.org/">OSS</a> and
                <a target="_blank" tabindex="-1" href="https://opensource.org/licenses/MIT">MIT</a> Licensed <br /> Copyright
                © 2017
                <a target="_blank" tabindex="-1" href="http://unosquare.com">Unosquare</a>
            </div>
        </div>
    </div>
</footer>