<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal">
            <fieldset>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-user"></i><h4 style="display: inline-block">Change Account Password</h4>
                    </div>
                    <div class="panel-body">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Username</label>
                            <div class="col-md-5">
                                <input id="username" name="username" type="text" placeholder="username@domain.com" class="form-control input-md" required="">
                                <span class="help-block">Your organizations username</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="currentPassword">Current Password</label>
                            <div class="col-md-5">
                                <input id="currentPassword" name="currentPassword" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter your current password</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="newPassword">New Password</label>
                            <div class="col-md-5">
                                <input id="newPassword" name="newPassword" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter a strong password</span>
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="newPasswordVerify">Re-enter New Password</label>
                            <div class="col-md-5">
                                <input id="newPasswordVerify" name="newPasswordVerify" type="password" placeholder="" class="form-control input-md" required="">
                                <span class="help-block">Enter your new password again</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!-- Button -->
                        <div class="form-group" style="text-align:center;">
                            <button id="changePassword" name="changePassword" class="btn btn-lg btn-success" style="width:50%; margin-left: auto; margin-right: auto;">
                                <i class="fa fa-beer"></i>&nbsp;Change Password
                            </button>
                        </div>
                    </div>

            </fieldset>
        </form>
    </div>
</div>

